@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') all;
@import url(./components/responive.css) all;


:root{
    --background: #fff;
    --text-color: #53585D;
    --primary-color: #669DB3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--background);
    color: var(--text-color);
    font-size: 17px;
    font-family: 'poppins', Arial, sans-serif;
}


.bx-menu,
.bx-x{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.header{
    background: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .5px solid #EAEAEB;
    padding: 1em 20em;
}
.logo{
    color: #535a5e;
    font-weight: 520;
}
.logo span{
    color: var(--primary-color);
}
nav ul{
    display: flex;
    gap: 2em;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #818282;
}



.banner{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5em 0 0 0;
    gap: 10em;
}
.hero-image{
    width: 300px;
}
.hello-text{
    font-weight: 520;
}
.banner .info{
    width: 30%;
    padding-bottom: 2em;
}
.banner .info p{
    margin-top: 1.5em;
}
.banner .social-icons{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.banner .social-icons i{
    border: .5px solid var(--primary-color);
    color: var(--primary-color);
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}




/**ABOUT SECTION*/
.about{
    padding: 3em 0;
    background: #f8f9fa;
}
.about .title h2{
    text-align: center;
}

.about .title h2,
.timeline-title,    
.item-title{
    font-weight: 520;
}
.timeline{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4em;
    margin-top: 2em;
}
.timeline .education,
.timeline .experience{
    width: 30%;
}

.item{
    margin-top: 2.5em;
    padding-left: 1em;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}
.item span{
    font-size: 70%;
    margin-top: 1em;
}
.item .item-paragraph{
    margin-top: .5em;
}

.item-line{
    border: 1px solid var(--primary-color);
    width: 10px;
    height: 60px;
    background: var(--primary-color);
}

.blue-boxes{
    display: flex;
    gap: .5em;
    margin-top: .5em;
}
.bb{
    font-size: 75%;
    padding: 6px;
    background: #D3E3E9;
    color: #343A40;
    border-radius: 4px;
}
/*ABOUT SECTION END*/






.skills{
    margin: 3em 22em;
}
.skills .title{
    text-align: center;
}
.name-icon i{
    font-size: 50px;
    font-weight: 800;
    color: #D49561;
}
.name-icon h2{
    font-weight: 500;
    color: #40464B;
}
.skill-container{
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-top: 3em;
    gap: 4em;
}
.skill{
    width: 40%;
}
.skill-det{
    margin-top: 1.5em;
}










.portfolio{
    padding: 3em 0;
    background: #f8f9fa;
}
.portfolio .title{
    text-align: center;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 2em;
}
.card{
    width: 20%;
    height: 25em;
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    padding: 1.5em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 4px;
    flex: 1 1 1 calc(33.333% - 1em); /* Three cards per row with spacing */
    box-sizing: border-box; 
    transition: .5s ease;
}
.project-title{
    font-weight: 400;
}
.tools-used{
    display: flex;
    gap: .5em;
}
.tu{
    font-size: 75%;
    padding: 6px;
    background: #D3E3E9;
    color: #343A40;
    border-radius: 4px;
}
.project-note{
    margin-top: .8em;
}
.project-link{
    text-decoration: none;
    padding: 4px;
    border: .5px solid var(--primary-color);
    text-align: center;
    width: '';
    font-size: 90%;
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: .8em;
    transition: .5s ease;
}
.project-link:hover{
    background: var(--primary-color);
    color: #fff;
}
.see-github{
    margin-top: 2%;
    text-align: center;
}
.see-github a{
    border: .5px solid var(--primary-color);
    padding: .7em 1em;
    font-size: 90%;
    color: var(--primary-color);
    border-radius: 5px;
    transition: .5s ease;
    text-decoration: none;
}
.see-github a:hover{
    background: var(--primary-color);
    color: #fff;   
}





.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F8F9FA;
    padding: 3em 0;
}
form{
    margin-top: 2em;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#name,
#email,
#submit{
    padding: .4em 1em;
    font-size: 105%;
    border: none;
    color: #525252;
    font-weight: 300;
    border-radius: 4px;
    font-family: 'poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#message{
    font-family: 'poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 105%;
    padding: .4em 1em;
    height: 8em;
    resize: none;
    border: none;
    font-weight: 300;
    border-radius: 4px;
}
#name:focus,
#email:focus,
#message:focus{
    outline: none;
}
#submit{
    border: 1.5px solid var(--primary-color);
    background: #F8F9FA;
    color: var(--primary-color);
    cursor: pointer;
}
#submit:hover{
    background: var(--primary-color);
    color: #fff;
}






.footer{
    background: #6C757D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3em 25em;
}
.footer .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.footer .social-icons i{
    border: .5px solid #fff;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}




